body{
	background-color: #ffffff;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.kaitou{
	width: 1226px;
	margin: 0 auto;
}
.header{
	width:1200px;
	height: 126px;
	margin:0 auto;
	display: flex;

	
}
.shangbiao{
	width: 192px;
	height: 118px;

}
.hehe{
	width: 1020px;
	height: 120px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin: 0 auto;
	position: relative;
	

}
.hehe a:hover{
	border-bottom: 5px solid #c60801;
}
.hehe a{
	float: left;
	width: 100px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-weight: normal;
	font-size: 16px;
	color: #000;
   

}

.hehe a:hover{
	color:#c60801;
	
}


.shou h1{
	font-size: 19px;
}
.tupian{
	position: relative;
	margin: 0 auto;
	width: 100%;
    height: 400px;
    
}
.tupian img{
	width:100%;
	height: 400px;
	
	
}
.jindian{
	width: 1220px;
	height: 123.98px;
	margin: 0 auto;
}
.jindian h1 {
	font-size: 30px;
	text-align: center;
	
}

.jindian h2 {
	font-size: 30px;
	text-align: center;

	
}
.food{
	width: 1200px;
	height: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;	
	
}
.zuo{
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap:wrap;
	flex-shrink;
}
.shang1{
	width: 600px;
	height: 300px;
	overflow: hidden;
}
.shang1 img{
	
	cursor: pointer;
	transition:  all 1.6s;
	

}
.shang1 img:hover{
	transform:scale(1.1);
}
.shang{
      width:600px;
      height:300px;
      display: flex;
      overflow: hidden;
      

}
.z{
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction:column;
	align-items:center;
	background-color: #d8000f;


}
.z h1 {
	color: #fff;
}
.z h2{
	color: #fff;
}
.zh img{
	width: 50px;
	height: 50px;
	
}
.di{
	width: 120px;
	height: 30px;
	padding-top: 20px;
	border:5px solid #fff;
	
}
.di h1{
	color: #fff;
	font-size: 5px;
	text-align: center;
	line-height:0px;

}
.y{
	width: 300px;
	height: 300px;
}
.y img{
	cursor: pointer;
	transition:  all 1.6s;
	
}
.y img:hover{
	transform:scale(1.1);
}
.you{
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap:wrap;


}
.pin{
	margin-top:100px;
	width: 1200px;
	height: 600px;

}
.pin1{
	width: 1200px;
	height: 150px;
	background-color: #373a41;
	margin: 0 auto;
}
.pin1 h1{
	font-size: 30px;
    text-align: center;
    padding-top: 30px;
    color: #fff;
}
.pin1 h2{
	font-size: 30px;
    text-align: center;
    color: #fff;
   
}
.pin2{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
}
.pin3{
	width: 600px;
	height: 350px;
}
.pin4{
	width: 600px;
	height: 350px;
}
video{
	width:600px;
	height: 350px; 
}
.pin4 h1{
	width: 600px;
	height: 30px;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 30px;
;
	}
.pin4 h2{
	font-size: 20px;
	margin-left: 50px;
}
.pin4 span{

	font-size: 10px;
	margin-left: 50px;

}
.pin4 p{

	font-size: 10px;
	margin-left: 50px;

}
.pin5{
	width: 150px;
	height: 30px;
	background-color: red;
	margin-left:450px;
	text-align: center;
}
.pin5 h3{
	color: #fff;
	padding-top: 5px;

}
.kong{
	width: 1220px;
	height: 80px;
	background-color: #373a41;
	margin: 0 auto;

}
.zixun{
	width: 1220px;
	height: 150px;
	margin: 0 auto;
	background-color: #fff;


}
.zixun h1{
	font-size: 30px;
    text-align: center;
    padding-top: 30px;
    color: black;
    padding-top: 10px;
}
.inf{
	width: 1200px;
	height: 750px;
	margin: 0 auto;
	}
.inf1{
	width: 1200px;
	height: 150px;
	display: flex;
	border-top: 2px solid #d8d8d8;
	border-bottom:2px solid #d8d8d8;
	background-color: #eceaeb;
	border-left: #fff;
	border-right:#fff;

}
.inf1:hover{
	border-color:red;
}
.inf-date{
	width: 150px;
	height: 84px;
	margin-top: 30px;
}
.inf2{
	width: 150px;
	height: 50px;
	color: red;
	font-size: 38px;
	line-height: 50px;
	
}
.inf3{
	width: 150px;
	height: 34px;
	

}
.inf3 h1{
	color: black;
	font-size: 20px;
	margin-left: 30px;

}
.infw{
	width: 1050px;
	height: 84px;
	margin: 0 auto;
	margin-top: 30px;

}
.infw h1{
	font-size: 18px;
	color: black;
	line-height: 60px;


}
.inf4{
	width: 1200px;
	height: 150px;
	margin: 0 auto;

}
.qw{
	width: 187px;
	height: 52px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	line-height: 60px;
	border: 5px solid black;

}
.geng{
	width: 1200px;
	height: 300px;
	background-color: red;
	margin: 0 auto;
	background-color: #e11948;
}
.geng h1{
	font-size: 60px;
	text-align: center;
	line-height: 150px;
	color: #fff;

}
.geng h2{
	text-align: center;
	color: #fff;

}
.xin{
	width: 1200px;
	height: 130px;



}
.xin h1{
	font-size: 45px;
	text-align: center;
}
.biaoge{
	width: 1220px;
	height: 50px;
	margin-top: 0 auto;
	display: flex;
	margin-top: 50px;

}
.biaoge1{
	width: 600px;
	height: 50px;
}
input{
	width: 500px;
	height: 50px;
}
.liuyan{
	width: 1200px;
	height: 400px;
}
.liuyan input{
	margin-top: 50px;
	width: 1200px;
	height: 200px;
} 
.liuyan h1{
	font-size: 20px;
	margin-top: 50px;
}
.wei{
	width:100%;
	height: 250px;
	background-color: #2e2d29;
	text-align: center;
	line-height: 100px;
	padding-top: 30px;
	/*margin-top:700px;*/

}
.wei1{
	width: 100%;
	margin: 0 auto;
	display: flex;
	background-color: #2e2d29;
}
.fuwu{
	width: 200px;
	height: 200px;
}
 .h1{
 	width: 200px;
 	height: 50px;
	font-size: 20px;
	color: #fff;
}
.h2{
	width: 200px;
 	height: 50px;
	font-size: 5px;
	color: #fff;
}
.re{
	width: 330px;
	height: 200px;
}
.h3{
	width: 330px;
	height: 150px;

	color: #fff;
	
}
.h3 img{
	margin-top: 30px;
	width: 200px;
	height:50px;
	margin-bottom: 20px;
	
}
.h4{
	width: 330px;
	height: 50px;
	font-size: 20px;
	line-height: 10px;
}
.erwei{
	width: 400px;
	height: 150px;
	display: flex;
	margin-left:-30px;
	margin-top: 30px;

}
.erwei img{
	margin-left: 10px;
	width: 150px;
	height: 150px;


}
.ba{
	width: 100%;
	height: 50px;
	background-color: #3c3c3a;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;

}
.c{
	width: 1226px;
	margin: 0 auto;
}
.tu1{
	position: absolute;
	display: none;
}
.tu2{
	position: absolute;
	display: none;
}
.tu3{
	position: absolute;
	display: none;
}
.active{
	display: block;

	
}
.men{
	width: 100px;
	height: 200px;
	background-color: #fff;
	position: absolute;
	left:300;
	top:90;
	z-index: 200;
	margin: 0 auto;
	display: none;
	

}
.mm{
	width: 100%;
	height: 50px;
	text-align: center;

}